.header {
  padding: 40px 24px 0 24px;
  background-image: url(./../images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h1 {
  font-family: var(--font-josefin);
  font-weight: 300;
  font-size: 40px;
  line-height: 38px;
  color: var(--color-white);
  text-transform: uppercase;

  padding: 26px 24px 24px 24px;
  border: 2px solid var(--color-white);
  margin-top: 163px;
}

.ul {
  display: none;
}

.navBtn {
  padding: 6px 0 6px 6px;
  cursor: pointer;
}

.open .ul {
}
